[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = E203,E501,W503
max-line-length = 88
import-order-style = google
per-file-ignores = noxfile.py:ANN
docstring-convention = google
exclude = 
    .git
    .venv
    __pycache__
    docs/source/conf.py
    old
    build
    dist
